.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 300px;
    border-radius: 10px;
    background-color: rgb(95, 125, 143);
    color: white;
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-size: 30px;
  }
  
  .circle {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 75px;
    background-color: yellow;
  }
  
  div{
    color: rgb(189, 221, 44);
  }

  button{
    padding: 10px;
    margin: 15px;
    border-radius: 50%;
    font-size: 35px;
    background-color: rgb(8, 68, 95);
    cursor: pointer;
  }
  button:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(1, 203, 253);
  }