.container{
    background-color: rgb(0, 70, 128);
    color: white;
    color: blueviolet;
    text-align: center;
}

.container:hover{
    background-color: rgb(0, 109, 128);
    color: white;
    text-align: center;
    cursor: pointer;
}
.container div{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: rgb(0, 70, 128);
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 15px rgb(224, 234, 245);
}
.container img{
    width: 300px;
    height: 200px;
}